NEXT_PUBLIC_API_URL=https://api.pediobra.com.br
NEXT_PUBLIC_UPLOAD_MODE=presigned
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
NEXT_PUBLIC_REALTIME_PROVIDER=appsync
NEXT_PUBLIC_APPSYNC_EVENTS_HTTP_ENDPOINT=https://replace-me.appsync-api.sa-east-1.amazonaws.com/event
NEXT_PUBLIC_APPSYNC_EVENTS_REALTIME_ENDPOINT=wss://replace-me.appsync-realtime-api.sa-east-1.amazonaws.com/event/realtime
