NEXT_PUBLIC_API_URL=http://localhost:3000
NEXT_PUBLIC_UPLOAD_MODE=presigned
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
NEXT_PUBLIC_REALTIME_PROVIDER=socketio
NEXT_PUBLIC_APPSYNC_EVENTS_REALTIME_ENDPOINT=
NEXT_PUBLIC_APPSYNC_EVENTS_HTTP_ENDPOINT=
